{# Load the tag library #}

{% include 'material/includes/material_css.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet">
  {% block title %} {% endblock %} {# Load CSS #}
  {% block style %}

  <link rel="stylesheet" href="/" />
  {% endblock %}
</head>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256- 
DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous">
</script>


<div class="navbar-fixed">

  <nav>
    <div class="nav-wrapper white">
      <div class="container">
        <a href="/" class="brand-logo" style="margin-top: 20px;"><img src="../../media/profile_pics/instalogo.png"
            alt=""></a>
        <a href="#" data-target="mobile-links" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          <ul id="dropdown1" class="dropdown-content">
            {% if user.profile.pk %}
            <li><a href="{% url 'profile' user.profile.pk %}">Profile</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
          {% if user.is_authenticated %}
          <!-- <li><a href="{% url 'post-create' %}">New Post</a></li> -->
          <li> <a href="/"><i class="material-icons black-text text-darken-4">home</i></a></li>
          <li> <a href="/"><i class="material-icons black-text text-darken-4">message</i></a></li>
          <li> <a href="/"><i class="material-icons black-text text-darken-4">add_location</i></a></li>
          <li> <a href="/"><i class="material-icons black-text text-darken-4">notifications</i></a></li>
          <li> <a class="modal-trigger" href="#modal1"><i
                class="material-icons black-text text-darken-4">add_box</i></a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i
                class="material-icons black-text text-darken-4">person</i><i
                class="material-icons right">arrow_drop_down</i></a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'user_registration' %}">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-links">
    {% if user.is_authenticated %}
    <!-- <li><a href="{% url 'post-create' %}">New Post</a></li> -->
    <li> <a class="modal-trigger" href="#modal1">Modal</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'user_registration' %}">Register</a></li>
    {% endif %}
  </ul>

</div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>{{message}}!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %}
{% endif %}
{% block content %} {% endblock %}

{% block js %} {% endblock %}

{% include 'material/includes/material_js.html' %}

<script>
  $(document).ready(function () {
    $('.sidenav').sidenav();
  })
  $(".dropdown-trigger").dropdown();
</script>

<style>
  body {
    background-color: #F8F9F9;
    font-family: 'Catamaran', sans-serif;
  }
</style>

</body>



</html>