{% extends 'base.html' %}
{% load material_form %}
{% block content %}



<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col sm5">
            <img src="{{user.profile.profile_pic.url}}" class="circle" width="100" alt="">
        </div>
        <div class="col sm7">

            <h4>{{user.username}}</h4>
            <h4>{{profile.bio}}</h4>
            <div class="container">
                <div class="row">
                    <div class="col s12 details">
                        <p>{{posts|length}}: Posts</p>
                        <p>{{TotalFollowers}} <span>: Followers</span></p>
                        <p>{{TotalFollowing}}: Following</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                {% if user == request.user %}
                {% else %}
                {% if status %}
                <form action="{% url 'remove-follower' profile.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="waves-effect waves-light btn" type="submit">Unfollow</button>
                </form>
                {% else %}
                <form action="{% url 'add-follower' profile.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_id" value="{{ profile.id }}" />
                    <button class="waves-effect waves-light btn" type="submit">Follow</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
            <hr>

            <div class="row">
                <div class="col s12 m7">
                    {% for post in posts %}
                  <div class="card">
                    <div class="card-image">
                       <a href="{% url 'post-detail' post.id %}"><img src="{{post.image.url}}" width="20%" alt=""></a> 
                      <span class="card-title">{{post.name}}</span>
                    </div>
                  </div>
                  {% empty %}
                  <p>no posts yet</p>
                  {% endfor %}
                </div>
              </div>
            <p>{{post.name}}</p>





        </div>
    </div>
</div>


<style>
    .details {
        display: flex;
        flex-direction: row;
    }

    .details p {
        margin-right: 10em;
        font-weight: bolder;
    }
</style>
{% endblock %}