{% extends 'base.html' %}
{% load material_form %}

{% block content %}




<div class="container">
    <div class="row">
        <div class="col s6">
            <h2>{{object.profile.user.username}}</h2>
            <h2>{{object.name}}</h2>
            <p>{{object.caption}}</p>
            <br>
            <a href="{% url 'add_comment' object.pk %}">Add Comment</a>
            {% if not post.comments.all %}
            <p>No comments</p>
            {% else %}
            
            {% for comment in post.comments.all %}
            <strong>
                <p>{{comment.user.username}}</p> -
                {{comment.posted_on}}
            </strong>
            <br>
            <p>{{comment.content}}</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
