{% extends 'base.html' %}
{% load material_form %}

{% block content %}




<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col s12">
            <img src="{{object.image.url}}" alt="" width="50%">
            <h2>{{object.profile.user.username}}</h2>
            <h2>{{object.name}}</h2>
            <p>{{object.caption}}</p>
            <br>
            <hr>
            {% if object.profile == user %}
            
            <a class="btn" href="{% url 'post-update' object.id %}">Update Post</a>
            <a class="btn" href="{% url 'post-delete' object.id %}">Delete Post</a>
            <hr>
            {% endif %}
            <hr>
            <h6>Comments</h6>
            <hr>
            <a href="{% url 'add_comment' object.pk %}">Add Comment</a>
            {% if not post.comments.all %}
            <p>No comments</p>
            {% else %}
            
            {% for comment in post.comments.all %}
            <ul class="collection">
                <li class="collection-item avatar">
                  <img src="{{comment.user.profile.profile_pic}}" alt="" class="circle">
                  <span class="title"><strong>{{comment.user.username}}</strong></span>
                  <p>{{comment.posted_on}}</p><br>
                  <p>{{comment.content}}</p>                 
                </li>
            </ul>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
